* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Add this CSS inside your <style> tag or CSS file */

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  border: 6px solid rgba(0, 199, 183, 0.3);
  border-top-color: #00c7b7;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsing {
  0% {
    box-shadow: 0 0 20px rgba(21, 206, 246, 0.5);
  }
  50% {
    box-shadow: 0 0 30px rgba(21, 206, 246, 1);
  }
  100% {
    box-shadow: 0 0 20px rgba(21, 206, 246, 0.5);
  }
}

/* Blade Runner 2049 themed text */
#loading-screen h1 {
  color: #00c7b7;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#spark-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.raindrop {
  position: absolute;
  background-color: #00c7b7;
  width: 2px;
  height: 20px;
  opacity: 0.8;
  animation: rain linear infinite;
}

@keyframes rain {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
.spark {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #00c7b7;
  opacity: 0;
  border-radius: 50%;
  animation: spark linear forwards;
  box-shadow: 0 0 10px #00c7b7, 0 0 20px #00c7b7, 0 0 30px #00c7b7;
}

@keyframes spark {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(var(--scale));
  }
}
/* .container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
} */
/* .container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} */
.container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#canvas3 {
  z-index: 5;
}

#canvas2 {
  z-index: 10;
}

#canvas1 {
  z-index: 100;
}
body {
  background-color: #111;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1611419010019-550124aef004?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1664&q=80');

  background-repeat: no-repeat;
  background-size: cover;
  animation-name: slide;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  45% {
    background-position: 25% 25%;
  }
  100% {
    background-position: 0 0;
  }
}


.calculator {
  margin: 0 auto;
  width: 320px;
  height: 420px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1); /* updated background-color */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}



.screen {
  grid-column: span 4;
  height: 70px;
  background-color: #333;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  color: #00c7b7;
  font-size: 24px;
  border-radius: 5px;
  overflow-x: auto; /* Make sure horizontal scrolling is enabled */
  overflow-y: hidden;
  max-width: 100%;
  white-space: nowrap; /* Prevent text from wrapping */
}

.screen-content {
  color: #00c7b7;
  font-size: 24px;
  white-space: nowrap; /* Prevent text from wrapping */
}

/* HISTORY SECTION */
/* .history-btn {
  grid-column: 1 / span 2;
} */

.history-btn {
  grid-column: 4;
  grid-row: 1;
  margin-top: -15px;
  margin-bottom: 10px;
  background-color: #4caf50;
}
.history-btn:hover {
  background-color: #5fd563;
}

.history-container {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 80%;
  height: 50%;
  background-color: #28374a;
  border: 2px solid #0f2a3e;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(21, 206, 246, 0.5);
  display: none;
}

/* WHITE */

/* .history-container {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
} */

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* .history-close-btn {
  background-color: transparent;
  border: none;
  color: #15ceef;
  font-size: 20px;
  cursor: pointer;
  outline: none;
} */

.history-close-btn:hover {
  background-color: #f37377;
}
.history-close-btn {
  background-color: #f0595f;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.history-content {
  max-height: 200px;
  overflow-y: auto;
}

.history-entry {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

/* .button {
  grid-column: span 1;
  grid-row: span 1;
  font-size: 1.2em;
  background-color: #333;
  color: #fff;
  border: 1px solid #00c7b7;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 199, 183, 0.3);
} */

.button {
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  height: 50px;
  border: 1px solid #00c7b7;
}
.button.erase {
  font-size: 18px;
}

.button:hover {
  background-color: #00c7b7;
  box-shadow: 0 0 5px rgba(0, 199, 183, 0.3), 0 0 10px rgba(0, 199, 183, 0.3),
    0 0 20px rgba(0, 199, 183, 0.3), 0 0 40px rgba(0, 199, 183, 0.3),
    0 0 80px rgba(0, 199, 183, 0.3);
}

.clear {
  background-color: #f43a59;
  color: #111;
}

.equals {
  background-color: #00c7b7;
  color: #111;
  grid-row: span 2;
}

.button:focus {
  outline: none;
}

.erase,
.equals,
.operator {
  background-color: #00c7b7;
}
.clear:hover,
.erase:hover,
.equals:hover,
.operator:hover {
  background-color: #00c7b7;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.heading {
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  color: #00c7b7;
  text-transform: uppercase;
  position: relative;
}

.heading::before {
  content: '';
  position: absolute;
  height: 1px;
  top: 50%;
  background-color: #00c7b7;
  width: 100%; /* Set width to 100% */
  left: 0; /* Add this */
}

.heading span {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 0.2em;
  background-color: #111;
}

#audio-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.audio-toggle {
  background-color: #28374a;
  border: 2px solid #0f2a3e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  position: relative;
  box-shadow: 0 0 20px rgba(21, 206, 246, 0.5);
  transition: box-shadow 0.5s ease-in-out;
  /* animation: pulsing 2s infinite; */
}
.audio-toggle:not(.paused) {
  animation: pulsing 2s infinite;
}

.play-button {
  position: relative;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 16px solid #15ceef;
}

.play-button.paused {
  animation: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
  display: flex;
  justify-content: space-around;
  width: 16px;
}

.play-button.paused::before,
.play-button.paused::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 16px;
  background-color: #15ceef;
}

.play-button.paused::before {
  left: 4px;
}

.play-button.paused::after {
  left: 10px;
}
/* ////////////////////////////// */
/* MEDIA QUERIES */
@media (min-width: 768px) {
  /* apply styles for screens with a min width of 768px */
  body {
    background-image: url('https://images.unsplash.com/photo-1611419010019-550124aef004?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1664&q=80');
  }
}

@media (max-width: 768px) {
  body {
    background-image: url('https://wallpapercave.com/dwp1x/wp2203715.jpg');
    background-size: cover; /* Add this */
    background-position: center; /* Add this */
  }

  .heading {
    text-align: center;
    position: relative;
    margin-top: 20px;
  }

  .calculator {
    margin-top: 30px;
  }
  #audio-toggle {
    top: 60px;
    right: 10px;
  }
}
